* {
font-family: 'Be Vietnam', sans-serif;
font-family: 'Lora', serif;
font-family: 'Mansalva', cursive;
font-family: 'Gloria Hallelujah', cursive;
}

body {
    background-image: url("../images/back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

p {
    font-size: 20px;
    font-weight: 400;
  }

  p.text-center {
    font-size:28px;
  }
.container {
    width: 1000px;
    height:900px;
    opacity: 0.8;
    background-color: rgb(201, 194, 194); 
}

.jumbotron {
    opacity: 0.5;
    color: rgb(211, 26, 26);
    margin-top: 30px;
}

.btn {
  width:275px;
  padding:15px;
  font-size: 20px;

}

.major-area {
    margin-top:10px;
    max-width: 60%;
    color: black;
    font-size: 26px;
    height: 500px;;
  }

  img {
    margin-top: 30px;
    width:40%;
    border-radius: 25px;
    
  }

  .timer-p {
    margin-top: 50px;
    font-size:24px;
  }

  .reset-button {
    margin-top: 40px;
  }




