* {
font-family: 'Be Vietnam', sans-serif;
font-family: 'Lora', serif;
font-family: 'Mansalva', cursive;
font-family: 'Gloria Hallelujah', cursive;
}

.background-image {
    width: 900px;
    height: 800px;
    background-image: url(/assets/images/pictures/1.jpg); 
}